@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('images/interface');

* {
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}
/* VARIABLES */
body {
    --violeta-400: #2E0652;
    --violeta-300-principal: #551481;
    --violeta-200: #8C43C7;
    --violeta-100: #CDCFFF;
    --rojo: #AF2606;
    --acento: #FB7C55;
    --blanco: #FBF7FF;
    --negro: #130F14;
    --gris: #5E585D;
    --radio-art: 5px;
    --padd-sections: 40px 10px;
}

/* Estilos generales */
body {
    margin: 0;
    background-color: var(--blanco);
}

/* Header y Nav */
header {
    width: 100%;
    background-color: var(--violeta-300-principal);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 55px;
}

.navbutton {
    height: 55px;
    border-radius: 50px;
}

/*---------------------------
#container{
    margin:auto;
    padding:3em 0 0;
    text-align:center;
}
#searchform{
    display:inline;
    font-size:1em;
    border-radius: 8em;
    border:0.1em solid rgba(218,208,190,1);
    box-shadow:0 0 0.3em rgba(60,60,60,0.4);
    padding:0.3em;
    background:white;
}
#s{
    transition:all 0.2s ease-out;
    width:1px;
    border-radius:0;
    box-shadow:none;
    outline: none;
    padding:0;
    margin:0;
    border:0;
    background-color: transparent;
    opacity:0;
}
#s:focus{
    width:8em;
    opacity:1;
}
label{
    padding-left: 1px;
    display:inline-block;
    margin-top:0.3em;
    color:rgba(218,208,190,1);
    text-shadow:0 0 0.1em rgba(60,60,60,0.3);
    position: relative;
    left:0.1em;
}
----------------------------------------------*/

/*Main*/
h1 {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: var(--violeta-300-principal);
}

h2 {
    height: 40px;
    width: 195.5px;
    background-color: var(--violeta-400);
    font-size: 24px;
    color: var(--blanco);
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    margin: 0;
}

.novedades_titulo{
    position: relative;
}

.novedades_titulo::after{
    content: '';
    background: var(--violeta-400);
    height: 28px;
    width: 28px;
    position: absolute;
    top: 6px;
    left: 182px;
    transform: rotate(45deg);
}

h3, h4 {
    font-size: 14px;
    margin: 0;
    color: var(--violeta-200);
    /*text-align: center;*/
    font-weight: 500;
}

h4 {
    font-size: 16px;
    color: var(--gris);
    font-weight: 700
}

/*Sección Novedades y Ofertas (Carruseles)*/
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: var(--padd-sections);
    margin: 0;
}

.carrusel {
    flex-wrap: wrap;
}

.art-link {
    text-decoration: none;
}

.articles {
    height: 285px;
    width: 140px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles img {
    height: 215px;
    border-radius: 5px;
}

/*Sección Más valorados (Ranking)*/
.list-ranking {
    display: flex;
    flex-direction: column;
    list-style: none; /*reemplazar por marker + número*/
    padding: var(--padd-sections);
    margin: 0;
    gap: 20px;
}

.item-ranking {
    width: 340px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    background-color: var(--violeta-300-principal);
}

.item-ranking > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item-ranking img {
    height: 150px;
    width: 100px;
    border-radius: 5px 0 0 5px;
}

.item-ranking div img {
    height: 20px;
    width: 117px;
}

.item-ranking h3 {
    margin: 0;
    color: var(--violeta-100);
    font-size: 16px;
}

.item-ranking h4 {
    margin: 0;
    color: var(--blanco);
    font-size: 20px;
    font-weight: 700;
}

.art-prices {
    padding: 0;
    margin: 0;
    text-align: right;
    color: var(--violeta-100);
    font-size: 16px;
    font-weight: bold;
}

.ranking div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Menú de botones*/
.footer-nav {
    background-color: #CDCFFF;
    height: 70px;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
.menu-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ftrbutton {
    width: 36px;
    height: 36px;
}

.menu-buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--violeta-200);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

/*Newsletter*/
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.newsletter span {
    width: 340px;
    font-weight: 600;
    letter-spacing: -1.356px; /* -8% */
    text-align: center;
    color: var(--gris);
}
.mail-input {
    width: 340px;
    display: flex;
}

.mail-input input {
    font-size: 16px;
    width: 220px;
    height: 40px;
    border: 2px solid var(--rojo);
    border-radius: 10px 0 0 10px;
    text-indent: 5px;
}

.mail-input button {
    width: 120px;
    font-weight: 600;
    background-color: var(--rojo);
    color: var(--blanco);
    border: 2px solid var(--rojo);
    border-radius: 0 10px 10px 0;
}

.mail-input button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Footer*/
.footer-info {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    height: 150px;
    background-color: var(--violeta-400);
    color: var(--acento);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}

.rrss {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.rrss img {
    width: 30px;
}

.footer-info div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.footer-info span{
    color: var(--blanco);
}

.footer-info a {
    color: var(--acento);
    text-decoration: none;
}

.links {
    display: flex;
    gap: 20px;
    padding: 0;
}
.links a {
    color: var(--blanco);
}

/*----------------------------------------------------------*/

.barra-titulo {
    background-color: var(--violeta-100);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid var(--violeta-200);
}

.barra-titulo h4 {
    width: 318px;
    font-size: 24px;
    font-weight: 500;
    color: var(--violeta-400);
    text-align: center;
}

.barra-titulo img {
    width: 32px;
}

.ver-libro {
    padding: 20px;
}

.ver-libro img {
    width: 250px;
    height: 380px;
    border-radius: 5px;
}

.img-y-btns {
    display: flex;
}

.action-btns {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 380px;
    justify-content: center;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action img {
    height: 46px;
    width: 46px;
}