@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('images/interface');

* {
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}
/* VARIABLES */
body {
    --violeta-400: #2E0652;
    --violeta-300-principal: #551481;
    --violeta-200: #8C43C7;
    --violeta-100: #CDCFFF;
    --rojo: #AF2606;
    --acento: #FB7C55;
    --blanco: #FBF7FF;
    --negro: #130F14;
    --gris: #5E585D;
    --radio-art: 5px;
}

/* Estilos generales */
body {
    margin: 0;
    background-color: var(--blanco);
}

/* Header y Nav */
header {
    width: 100%;
    background-color: var(--violeta-300-principal);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 10px;
}

header > a > img {
    height: 55px;
    margin-right: 10px;
}
.navbutton {
    height: 55px;
    border-radius: 50px;
}

/* Main*/
h1 {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: var(--violeta-300-principal);
}

h2 {
    height: 40px;
    width: 195.5px;
    background-color: var(--violeta-400);
    font-size: 24px;
    color: var(--blanco);
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    margin: 0;
}

.novedades_titulo{
    position: relative;
}

.novedades_titulo::after{
    content: '';
    background: var(--violeta-400);
    height: 28px;
    width: 28px;
    position: absolute;
    top: 6px;
    left: 182px;
    transform: rotate(45deg);
}

h3, h4 {
    font-size: 14px;
    margin: 0;
    color: var(--gris);
}

h4 {
    font-size: 16px;
}

/*Sección Novedades y Ofertas (Carruseles)*/
ul {
    list-style: none;
    display: flex
}

.articles {
    height: 285px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles img {
    height: 215px;
    border-radius: 5px;
}

/*Sección Más valorados (Ranking)*/
.list-ranking {
    display: flex;
    flex-direction: column;
    list-style: none; /*reemplazar por marker + número*/
    padding: 20px 0;
}

.item-ranking {
    width: 340px;
    height: 150px;
    margin: 10px 20px;
    border-radius: 5px;
    display: flex;
    background-color: var(--violeta-300-principal);
}

.item-ranking > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item-ranking img {
    height: 140;
    border-radius: 5px 0 0 5px;
}

.item-ranking div img {
    height: 20px;
    width: 117px;
}

.item-ranking h3 {
    margin: 0;
    color: var(--violeta-100);
    font-size: 16px;
}

.item-ranking h4 {
    margin: 0;
    color: var(--blanco);
    font-size: 20px;
}

.art-prices {
    padding: 0;
    margin: 0;
    text-align: right;
    color: var(--violeta-100);
    font-size: 16px;
    font-weight: bold;
}

.ranking div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Menú de botones*/
#menu-botones {
    background-color: #CDCFFF;
    height: 70px;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
.menu-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.menu-buttons img {
    width: 36px;
    height: 36px;
}

.menu-buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8C43C7;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

/*Footer*/
.footer-info {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    height: 150px;
    background-color: var(--violeta-400);
    color: var(--acento);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}

.rrss {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.rrss img {
    width: 30px;
}

.footer-info div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.footer-info span{
    color: var(--blanco);
}

.footer-info a {
    color: var(--acento);
    text-decoration: none;
}

.links {
    display: flex;
    gap: 20px;
    padding: 0;
}
.links a {
    color: var(--blanco);
}